<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PInvokeLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PInvokeLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PInvokeLib.Properties.Settings>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="modulename" serializeAs="String">
                <value />
            </setting>
            <setting name="language" serializeAs="String">
                <value>0</value>
            </setting>
        </PInvokeLib.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PInvokeLib.Properties.Settings>
            <setting name="typesManaged" serializeAs="String">
                <value>VOID,void;
HANDLE,IntPtr;
HINSTANCE,IntPtr;
BYTE,Byte;
SHORT,Int16;
WORD,UInt16;
INT,Int32;
UINT,UInt32;
LONG,Int32;
BOOL,Int32;
DWORD,UInt32;
ULONG,UInt32;
WCHAR,Char;
LPSTR,StringBuilder;
LPCSTR,String;
LPWSTR,StringBuilder;
LPCWSTR,String;
FLOAT,Single;
DOUBLE,Double;</value>
            </setting>
            <setting name="typesUnmanaged" serializeAs="String">
                <value>char*,UnmanagedType.LPStr;
wchar_t*,UnmanagedType.LPWStr;
char,UnmanagedType.I1;
wchar_t,UnmanagedType.I2;
unsigned char,UnmanagedType.U1;
short,UnmanagedType.I2;
unsigned short,UnmanagedType.U2;
int,UnmanagedType.I4;
unsigned int,UnmanagedType.U4;
long,UnmanagedType.I4;
unsigned long,UnmanagedType.U4;
float,UnmanagedType.R4;
double,UnmanagedType.R8;</value>
            </setting>
        </PInvokeLib.Properties.Settings>
    </applicationSettings>
</configuration>